<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Login</title>
        <link href="static/design.css" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
            BARBER LOGIN
        </div>
        <div class="topnav">
            <a href="/login">Store Login</a>
            <a href="/barber_login">Barber Login</a>
            <a href="/register">Register</a>
        </div>
        <div class="row">
            <div class="column">
                <div class="center">
                    <h1>Sign In</h1>
                    <form action="/barber_login" method="post">
                        <input autocomplete="off" autofocus class="form-control" name="barbername" placeholder="Enter Name" type="text">
                        <input autocomplete="off" autofocus class="form-control" name="barberid" placeholder="Enter Barber ID" type="text">
                        <input autocomplete="off" autofocus class="form-control" name="storeid" placeholder="Enter Store ID" type="text">
                        <br><button class="button" type="submit">Log In</button>
                    </form>
                </div>
            </div>
            <div class="column">
                <img src="https://data.whicdn.com/images/126088567/original.gif">
            </div>
        </div>
    </body>
</html>
