<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Register</title>
        <link href="static/design.css" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
            BARBERSHOP REGISTER
        </div>
        <div class="topnav">
            <a href="/login">Store Login</a>
            <a href="/barber_login">Barber Login</a>
            <a href="/register">Register</a>
        </div>
        <div class="row">
            <div class="column">
                <div class="center">
                    <h1>Register</h1>
                    <form action="/register" method="post">
                        <input autocomplete="off" autofocus class="form-control" name="shopname" placeholder="Name of This Shop" type="text">
                        <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
                        <input autocomplete="off" autofocus class="form-control" name="password" placeholder="Password" type="text">
                        <input autocomplete="off" autofocus class="form-control" name="confirm" placeholder="Confirm Password" type="text">
                        <br><button class="button" type="submit">Register</button>
                    </form>
                </div>
            </div>
            <div class="column">
                <img src="https://data.whicdn.com/images/126088567/original.gif">
            </div>
        </div>
    </body>
</html>
